body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0;
        background-color: rgb(40, 40, 40);
        color: rgb(230, 230, 230);
    
    }
    /* Header class and its content styling */
.header {
    padding: 8px 16px;
}

.logo-img {
    width: 64px;
    cursor: pointer;
    border-radius: 48px;
}

.container {
    padding: 4px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    text-align: center;
    opacity: 80%;
}

.help {
    width: 40%;
    background-color: cyan;
    padding: 4px;
    border-radius: 4px;
    text-align: center;
    text-align: center;
    border-left: 4px solid blueviolet;
    color: black;
}

.main {
    width: 90%;
    margin-top: 3rem;
}

.main span {
    width: 350px;
    border: 1px solid rgb(100, 100, 100);
}

.main .graphics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main .interactions {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
    background-color: rgb(30, 30, 30);
    width: fit-content;
    border-radius: 18px;
    border-top: 2px solid rgb(10, 10, 10);
    padding: 10px 16px;
    margin-left: auto;
    margin-right: auto;
    
}

.main .interactions button {
    background-color: rgb(70,70,70);
    border: 2px solid rgb(100,100,100);
    width: 86px;
    height: 86px;
    border-radius: 40px;
}
.main .interactions button img {
    width: 64px;
    padding-right: 6px;
}
.main .interactions button:hover {
    background-color: rgb(80,80,80);
    border: 2px solid rgb(110,110,110);
    cursor: pointer;
}
.main .interactions button:active {
    background-color: rgb(90,90,90);
    border: 2px solid rgb(120,120,120);
    cursor: pointer;
}
.main .graphics .player-name {
    padding: 4px;
    border-bottom: 1px solid rgb(10, 10, 10);
    background-color: cyan;
}
.main .graphics .player-name h3 {
    margin: 0px;
    color: black;
}
.main .graphics .selected-result {
    height: 200px;
    display: flex;
    justify-content: center;
}

.main .graphics >:nth-child(2) {
    border: none;
    text-align: center;
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .graphics >:nth-child(2) h2 {
    margin-top: auto;
    margin-bottom: auto;
}

.main .message #message-content {
    text-align: center;
}

@media (max-width: 846px) {
    .help {
        width: 80%;
    }
    .main .graphics span {
        width: 250px;
    }
}

@media (max-width: 624px) {
    .main .graphics {
        display: flex;
        gap: 6px;
    }
    .main .graphics span {
        width: 95%;
    }
    .main .graphics >:nth-child(2) {
        width: 95%;
    }
    .main .graphics >:nth-child(2) h3 {
        text-align: center;
    }
}

@media (max-width: 420px) {
    .main .interactions {
        display: flex;
        flex-wrap: wrap;
        row-gap: 6px;
    }
    .main .interactions button  {
        width: 48px;
        height: fit-content;
    }

    .main .interactions button img {
        width: 28px;
    }
}
